@import "../common/colors.css";

body {
    font-family: Arial;
    margin: 2vw;
    background-color: var(--bk);
    color: var(--text);
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 2vw;
}
li {
    display: grid;
    grid-template-rows: auto 6vh;
    border-radius: 5px;
    padding: 1vh;
    max-width: 20rem;
    text-align: center;
}
li a, li a:visited {
    color: var(--text);
    text-decoration: none;
}

li a:last-child {
    margin-top: 3vh;
}

li:hover {
   box-shadow: 0 0 10px gray;
}
li img {
    max-width: 20rem;
}
@media (max-width: 768px) {
    ul {
        flex-direction: column;
    }
}