:root {
    --bk: rgba(1,1,1,0.8);
    --text: white;
    --hltext: yellow;
    --hover: lightyellow;
}
body {
    font-family: Arial;
    background-color: var(--bk);
    color: var(--text);
}
main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2rem;
}

pre.language-markup {
    font-size: x-small;
}

form {
    line-height: 2;
}

.-active-element, .-active-element * {
    color: lightyellow !important;
    background-color: black !important;
    opacity: 0.9;
    transition: color .2s;
    border: none;
    border-radius: 3px;
    padding: 2px;
    text-shadow: none;
}