body {
    font-family: Arial;
    background-color: black;
    color: white;
}

a, a:visited {
    color: white;
    padding-left: 1vh;
    text-decoration: none;
}
a:hover {
    text-decoration: underline !important;
}
